---
name: Terraform Module Release

on:
  workflow_call:
    inputs:
      enable-cliff:
        description: "Indicates if the repository uses cliff for changelog generation"
        required: false
        type: boolean
        default: false

jobs:
  release:
    name: Github Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate Cliff Changelog
        if: inputs.enable-cliff == 'true'
        uses: orhun/git-cliff-action@v4
        with:
          config: .cliff/cliff.toml
          github-token: "${{ secrets.GITHUB_TOKEN }}"
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}
      - name: Create GitHub Release
        if: inputs.enable-cliff == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" \
            --latest \
            --notes-file CHANGELOG.md \
            --title "Release ${{ github.ref_name }}"

      - name: Create GitHub Release
        if: inputs.enable-cliff == 'false'
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          token: ${{ secrets.GITHUB_TOKEN }}
